/* src/App.css */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 10px 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Added margin from the top */
}

.navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-link {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  margin: 0 10px;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #ddd;
  color: black;
}

.nav-link.active {
  background-color: #555;
  color: white;
}